* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.2%;
    overflow: hidden;
}

body {
    font-size: 1.6rem;
    font-family: Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: palegreen;
    color: #fff;
}

.btn {
    font-size: 2.5rem;
    padding: 2rem 4rem;
    margin: 2rem;
    border: 0;
    border: 2px solid hotpink;
    border-radius: 1rem;
    background-color: #dd73a8;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
