* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.2%;
    overflow: hidden;
}

body {
    font-size: 1.6rem;
    font-family: Tahoma, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f7fb;
}

.container {
    text-align: center;
}

.progress__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    max-width: 100%;
    width: 35rem;
    position: relative;
}

.progress__container::before {
    content: "";
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 0.4rem;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: #3498db;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 0.4rem;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3rem solid #e0e0e0;
    transition: 0.4s ease;
}

.circle.active {
    border-color: #3498db;
    color: #3498db;
    background-color: #b4e4f5;
}

.btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 0.6rem;
    padding: 1rem 2rem;
    margin: 0.5rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}
